body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  color: #ccc;
  font-weight: 300;
  font-size: 30px; }

figure {
  margin: auto; }

.content {
  position: relative;
  background: white;
  margin-bottom: 300px;
  overflow: hidden; }
  .content article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center; }

img {
  max-width: 100%; }

::-moz-selection {
  background-color: #000;
  color: #fff; }

::selection {
  background-color: #000;
  color: #fff; }

.bird-box {
  position: relative;
  height: 100vh;
  background-image: url(../images/bird-bg.jpg);
  background-size: auto 100vh;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; }

.logo {
  height: 100px;
  width: 100%;
  background-image: url(../images/black-bird-logo.svg);
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px; }

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(../images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  top: 380px;
  margin-left: -480px; }

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(../images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px; }

.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.clothes-pics {
  margin-bottom: 100px; }
  .clothes-pics .columns {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer; }
    .clothes-pics .columns.is-showing {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); }
    .clothes-pics .columns img {
      display: block;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      transition: all 0.3s ease-in-out; }
    .clothes-pics .columns:hover figcaption {
      left: 0%; }
    .clothes-pics .columns:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .clothes-pics figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out; }

.large-window {
  height: 640px;
  background-image: url("../images/model10.jpg");
  background-repeat: repeat-y;
  background-position: center 0px;
  background-attachment: fixed;
  margin-top: 100px;
  border-radius: 50%;
  position: relative; }
  .large-window .window-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0; }
  .large-window .promote-text {
    color: #fff;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.4; }
    .large-window .promote-text strong {
      display: block;
      font-size: 30px; }
    .large-window .promote-text span {
      font-weight: 300;
      font-size: 12px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.6); }
    .large-window .promote-text .window-buy {
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 10px 20px;
      transition: all 0.3s ease-in-out; }
      .large-window .promote-text .window-buy:hover {
        color: #000;
        background-color: #fff; }

.cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px; }

.card {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 4px; }
  .card + .card {
    margin-left: 20px; }

.card-title {
  color: rgba(0, 0, 0, 0.7); }

.card-description {
  margin-bottom: 30px; }

.card-button {
  padding: 8px 25px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #999;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .card-button:hover {
    border-color: #000;
    color: #000; }

footer {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1; }

.footer-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 30px 150px; }
  .footer-container dt {
    color: #fff;
    font-weight: 600; }
  .footer-container dd {
    margin: 20px 0 0 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 32px; }
  .footer-container a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; }
    .footer-container a:hover {
      text-decoration: underline;
      color: skyblue; }
  .footer-container input {
    outlint: none;
    border: 1px solid #e1e1e1;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff; }
    .footer-container input:focus {
      outline: none; }
      .footer-container input:focus::-webkit-input-placeholder {
        color: transparent; }
      .footer-container input:focus:-moz-placeholder {
        color: transparent; }
      .footer-container input:focus::-moz-placeholder {
        color: transparent; }
      .footer-container input:focus:-ms-input-placeholder {
        color: transparent; }

.footer-button {
  outline: none;
  padding: 9px 15px;
  background: #000;
  color: #fff;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .footer-button:hover {
    background-color: #fff;
    color: #000; }
